<%= form_for(@instancia) do |t| %>
<%= t.label :title, "insert title" %>
<%= t.text_field :title %>

<%= t.label :details, "insert details" %>
<%= t.text_field :details %>

<%= t.label :completed, "insert status" %>
<%= t.check_box :completed %>

<%= t.submit "creamos tarea"%>
<% end %>
<%= link_to "volver a la lista", tasks_path %>


<%# <form action="/tasks" method="post">

<label for="Title"> In title tasks</label>
<input type="text" title="task[name]" placeholder="title task">

<label for="details"> In title tasks</label>
<input type="text" title="task[details]" placeholder="insert details">

<label for="completed"> In title tasks</label>
<input type="text" title="task[completed]" placeholder="statud">

<input type="submit">

</form> %>