<%= form_for @tasks do |r| %>
<%= r.label :title, "insert title" %>
<%= r.text_field :title %>

<%= r.label :detail, "insert detail" %>
<%= r.text_field :detail %>

<%= r.label :completed, "insert status" %>
<%= r.text_field :completed %>

<%= f.submit %>
<% end %>


<%# <form action="/tasks" method="post">

<label for="Title"> In title tasks</label>
<input type="text" title="task[name]" placeholder="title task">

<label for="details"> In title tasks</label>
<input type="text" title="task[details]" placeholder="insert details">

<label for="completed"> In title tasks</label>
<input type="text" title="task[completed]" placeholder="statud">

<input type="submit">

</form> %>